body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #212121;
    color: #ddd;
}

.card {
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    width: 300px;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #eceff1;
    background-color: #2b2b2b;
    box-shadow: 0 20px 20px rgba(0, 255, 125, 2);
}

.card:hover{
    box-shadow: 0 8px 15px #1eb6df;
    transition: 0.3s
}

h1 {
    color: #2edc2b;
    margin: 0;
    font-size: 24px;
}

.lo{
    color: #1eb6df;
}

.health{
    color: #2edc2b;
}

.logo{
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 5px;
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 10px 0; /* Espaciado alrededor de la imagen */
}

h2 {
    margin: 15px 0;
    font-size: 18px;
    color: white;
    font-family: "Roboto", system-ui, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: "Roboto", system-ui, sans-serif;
}

.boton {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.boton:hover {
    animation: revert;
    scale: 1.1;
}

.saber_mas_btn{
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.saber_mas_btn:hover{
    animation: revert;
    scale: 1.1;
}
